<span>
  <responseMessage [visible]="displayMsg" [messageType]="messageType" [message] = "message"></responseMessage>
  <span style="padding-right: 20px;"><h3 style="display:inline">Roles</h3></span >
  <span ><button class="btn btn-primary" (click)="addNewRole()"><span class="fa fa-user-plus"></span>&nbsp;New
Roles</button>
	<span style="align:right">
	  <span class="input-group pull-right">
        <input class="form-control" placeholder="Search" type="search" [(ngModel)] = "seachCriteria" style="width:200px"/>
      			  <span class="glyphicon glyphicon-search form-control-feedback"></span>
	  </span>
	</span>
</span>
<div class="margin-top-1 table-responsive" *ngIf="anyRole">
	
	<br/>
	<div class="form-group">
	   <div class="col-md-7">
         <label class="control-label">Rows on page</label> 
		   <select class="row-on-pages" [(ngModel)]="rowsOnPage">
             <option [ngValue]="10">10</option>
             <option [ngValue]="15">15</option>
             <option [ngValue]="20">20</option>
           </select>
	   </div>
	</div>
	<table class="table table-bordered" [mfData]="roles" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
		<thead>
			<tr>
				<th class="header-cell">
					<mfDefaultSorter by="roleId">Role Id</mfDefaultSorter>
				</th>
				<th class="header-cell">
					<mfDefaultSorter by="authority">Authority</mfDefaultSorter>
				</th>
				
			</tr>
		</thead>
		<tbody>
			<div *ngIf="(mf.data | roleSearchFilters : seachCriteria).length===0" >
				No Result Found
			</div>
			<tr *ngFor="let role of mf.data | roleSearchFilters : seachCriteria : { roleResult: roles };  let index =index;let  isOdd=odd;let isEven=even"
				[class.odd]="isOdd" [class.even]="isEven" [class.selected]="role.roleId===selectRoleId" (click)="updateRole(role)"
				(mouseover)='over(role)' (mouseout)=tableMouseOut()>
				<td class="data-cell">{{ role.roleId }}</td>
				<td class="data-cell">{{ role.authority }}</td>
	
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="9" align="right">
					<mfBootstrapPaginator></mfBootstrapPaginator>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<spinner [visible]="roleLoading"></spinner>
</span>